input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

::ng-deep{
    .grd{
        background-color: #f171e0 !important;
        height: 5px;
        width: 100%;
    }

}

.filterbox{
    background-color: #7d4976;
    width: 100vw;
}

.input{
    background-color: #c974c37a;
    border: #b872b6 solid 1.5px;
}

.input::placeholder{
    color: #ffc4f7;
}

.input-select{
    height: 30px;
    width: 105px;
    padding: 0;
}

select{
    color: white;
    background-color: #9b5b97 !important;
}
.placeholder{
    color: #ffc4f7;
}