<div class="background">
    <div class="filterbox">
        <!-- EDIT MODE ONLY -->
        <button [ngClass]="{'edit-unable':(editSelected.length) != 1}" 
            *ngIf="EDIT_MODE"
            [disabled]="(editSelected.length) != 1" 
            (click)="confirm()" class="toggle toggle_edit">
            Valider ({{editSelected.length}}/1)
        </button>
        <!-- END OF EDIT MODE ONLY -->
        <input [(ngModel)]="textFilter" (keyup.enter)="dynamicFilter()" class="input" placeholder="Filtrer..." type="text"/>
        <img (click)="dynamicFilter()" class="filter-icon" src='assets/filter-icon.png'>
    
        <button (click)="filterCom = !filterCom; dynamicFilter()" [ngClass]="{'off': !filterCom}" class="toggle">Commun</button>
        <button (click)="filterUncom = !filterUncom; dynamicFilter()" [ngClass]="{'off': !filterUncom}" class="toggle">Peu Commun</button>
        <button (click)="filterRar = !filterRar; dynamicFilter()" [ngClass]="{'off': !filterRar}" class="toggle">Rare</button>
    </div>

    <table class="data-table">
        <thead>
            <tr> 
                <th *ngIf="EDIT_MODE"> </th>
                <th>
                    <b (click)="changeSortMode('nom')">Nom </b>
                    <b *ngIf="sortMode == 'nom_asc'">↑</b>
                    <b *ngIf="sortMode == 'nom_desc'">↓</b>
                </th>
                <th>
                    Primes
                </th>
                <th>
                    <b (click)="changeSortMode('don')">Don </b>
                    <b *ngIf="sortMode == 'don_asc'">↑</b>
                    <b *ngIf="sortMode == 'don_desc'">↓</b>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr [ngClass]="{'hidden': object['hidden'], 'data-table-even': object['grey']} "*ngFor="let object of data">
                <td *ngIf="EDIT_MODE"  (click)="toggleSelected(object)">
                    <div *ngIf="!object['selected']" class="edit-checkbox"></div>
                    <div *ngIf="object['selected']" class="edit-checkbox edit-selected">✔</div>
                </td>
                <td>   
                    <div class="tooltip">
                        <div class="name">{{object["translations"]["fr"]["name"] }}</div>
                        <span *ngIf="object['translations']['fr']['description'].includes('<hr />')" class="tooltiptext" [innerHTML]="object['translations']['fr']['description'].split('<hr />')[1].split('</p>')[0].split('</em>')[0]"></span>
                        <span *ngIf="!object['translations']['fr']['description'].includes('<hr />')" class="tooltiptext" [innerHTML]="object['translations']['fr']['description'].split('</p>')[0].split('</em>')[0]"></span>
                    </div>
                    <br>
                    <div class="trait-row">
                        <div class="trait trait-alt2" (click)="goToLink('https://pf2e.pathfinder-fr.org/backgrounds/'+object['_id'])">
                            <img (click)="dynamicFilter()" style="width: 10px; margin-top: 0.5px; margin-bottom: -0.5px;" src='assets/link.png'>
                        </div>
                        <div class="trait trait-alt" *ngIf="object['traits']['rarity'] == 'uncommon'">Peu Commun</div>
                        <div class="trait trait-alt" *ngIf="object['traits']['rarity'] == 'rare'">Rare</div>
                        <div class="trait trait-alt" *ngIf="object['traits']['rarity'] == 'unique'">Unique</div>
                        <div class="trait tooltip" *ngFor="let trait of object['traits']['value']">
                            {{trait["translations"]["fr"]["name"]}}
                            <span *ngIf="trait['translations']['fr']['description'] != undefined" 
                                class="tooltiptext" 
                                [innerHTML]="'<p><b>' + trait['translations']['fr']['name'] + ':</b> ' + trait['translations']['fr']['description'] + '</p>'"></span>
                        </div>
                    </div>
                </td>
                <td> 
                    <div *ngIf="object['bonus'] == 'Cha / Con / Dex / Int / For / Sag'">
                        <span><b>+2 Libres</b></span><br>  
                    </div>
                    <div *ngIf="object['bonus'] != 'Cha / Con / Dex / Int / For / Sag'">
                        <span><b>+1 Libre</b></span><br>
                        <span><b>+1 </b>{{object['bonus']}}</span>  
                    </div>
                </td>
                <td>
                    <span *ngIf="object['translations']['fr']['description'].includes('{') 
                    && !object['translations']['fr']['description'].includes('Stupéfié 1')
                    && object['translations']['fr']['name'] != 'Déterminé par le Tourment'"
                    ><b>{{object['translations']['fr']['description'].split('{')[1].split('}')[0]}}</b></span>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>